
<h1> part 1 of the four items </h1>
<br>
 <img @rotated src="http://52.229.126.133/dog2.PNG" alt="" class="circular">
<img @fade src="http://52.229.126.133/horse2.PNG" alt="" class="circular">
<br>

<app-pagecantfound></app-pagecantfound>  
<app-new></app-new>
<h1> (please enter)</h1>

<h2 *ngIf="isDisabled"> Rotate banner(click)</h2>
 &nbsp;&nbsp; 
 
    <p> the box is now {{ isOpen ? 'Open' : 'Closed'}} !</p>
      
  <img (click)=clicked() *ngIf="isDisabled" @banner (@banner.start)="onAnimationEvent($event)"
  (@banner.done)="onAnimationEvent($event)"
    src={{pic[x]}} alt="" class="bcircular">
  
    <h1> Second </h1>
     <h2 *ngIf="isDisabled"> Router link</h2>
     <a *ngIf="isDisabled" routerLink="/new">show where the new info is component</a>
      <router-outlet *ngIf="isDisabled"></router-outlet> 
 




